*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

.header{
    position: relative;
    width: 100vw;
    height: 90vh;
    background-image: url(images/hero2.jpg);
    background-size: cover;
    background-position: center;
}

/* NAVIGATION BAR */

nav{
    display: flex;
    padding: 4% 6%;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150px;
    height: auto;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #FE9D04;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover a::after{
    width: 100%;
}

/* Hero  */
.hero{
    padding:60px 120px;;
}
.hero-title{
    position: relative;
    padding-right: 30vw;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding: 0 0 2% 0;
}

.hero-button{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #FE9D04;
    border: 2px solid #FE9D04;
    font-size: 1rem;
    font-weight: bold;
    transition: 1s;
    padding: 1%;
    cursor: pointer;
}

.hero-button:hover{
    color: white;
    background-color: #FE9D04;
    border: 2px solid #FE9D04;
}

nav .fa-solid{
    display: none;
}


@media(max-width: 900px){
    .logo{
        width: 120px;
        height: auto;
    }
    .hero{
        padding:60px 80px;
    }
    .hero-title{
        font-size: 2.5rem;
    }
    .hero-button{
        font-size: 0.8rem;
    }
    ul li a{
        color: white;
        text-decoration: none;
        font-size: 0.7rem;
    }
    .nav-links ul li{
        padding: 8px 8px;
    };
}

@media(max-width: 700px){
    .hero{
        padding:60px 60px;
    }
    .hero-title{
        font-size: 2rem;
    }
    .hero-button{
        font-size: 0.6rem;
    }
    ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #FE9D04;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        transition: 1s ease-in-out;
        z-index: 2;
    }
    nav .fa-solid{
        display: block;
        color: white;
        margin: 10px;
        cursor: pointer;
        font-size: 22px;
    }
    .nav-links ul{
        padding: 30px;
    }
    .logo{
        width: 100px;
        height: auto;
    }
}